<div class="fade-text">
  <h2>I listened to this instrumental a lot while I wrote to you. Let this loop while you read and then come back to keep scrolling...</h2>
</div>

<div id="cover-art" class="hidden">
  <img src="/images/cover-art.jpeg" alt="Cover Art" class="cover-art-image">
  <div class="song-info">
    <h2>Think of Me Once In A While, Take Care</h2>
    <button id="play-button"><i class="fa fa-play"></i></button>
    <div id="progress-bar">
      <div id="progress"></div>
    </div>
  </div>
  <audio id="audio" src="/images/songs/think_of_me.mp3" loop></audio>
</div>