<div id="particles-js">
  <div class="header">
    <img src="/images/background.png" alt="Centered Image" class="centered-image">
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="false"></i></a>

  <div id="cover-art" class="hidden">
  <img src="/images/cover-art.jpeg" alt="Cover Art" class="cover-art-image">
  <div class="song-info">
    <h2>Think of Me</h2>
    <button id="play-button">Play</button>
    <div id="progress-bar">
      <div id="progress"></div>
    </div>
  </div>
  <audio id="audio" src="/songs/think_of_me.mp3" loop></audio>
</div>
</div>