<div id="projects">
  <div class="user-details">
    <h1> In case you still can't listen to real music... </h1>
  </div>
  <div id="cover-art">
    <img src="/images/cover-art.jpeg" alt="Cover Art" class="cover-art-image">
    <div class="song-info">
      <h2>Think of Me</h2>
      <button id="play-button">Play</button>
      <div id="progress-bar">
        <div id="progress"></div>
      </div>
    </div>
    <audio id="audio" src="/songs/think_of_me.mp3" loop></audio>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> For while you read:</h3>
      <p>I listened to this on a loop while writing this letter</p>
      <a class="project-link" href="https://music.apple.com/us/album/think-of-me-once-in-a-while-take-care/1645112497?i=1645112716">click here</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3>For after</h3>
      <p>I came across this while packing your things</p>
      <a class="project-link" href="https://music.apple.com/us/song/photograph/1050204626">to freeze time...click here</a>
    </div>
  </div>
</div>