#last {
  .final-text {
    text-align: center;
    opacity: 0; // Initially hidden
    z-index: 3; /* Ensure it is above cover-art */
    position: relative; /* Ensure z-index works */
    color: #FFFFFF; // Bright white
    padding-top: 300px; // Ensure correct padding
    h2 {
      color: #FFFFFF;
    }
  }
}  

#fade-in-image {
  opacity: 0;
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  &.visible {
    transition: opacity 3s ease-out;
    opacity: 1;
  }
}